*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 1000px;
    margin: 30px;
    border-top: 7px palevioletred;
border-radius: 2px;
   
}

.container{
    background-color: rgba(255, 253, 251, 0.534);
    width: 1000px;
    
margin-left: 500px;
border-top: 7px palevioletred;
border-radius: 2px;
    
    
 
}

.container h1, p{
    text-align: center;
   
  

}
form{
    height: 700px;
    width: 700px;
    padding: 40px;
border: 3px;

}
P{
    margin-top: 20px;
    color: brown;
    font-size: 19px;
}
   
.input-name{
    width: 200%;
    position: relative;
    margin:11px auto;
  

}
.input-name span{
    margin-left: 100px;
    padding: 15px;
}

.name , .phone{
    width: 15%;
    padding: 5px;
    margin: auto;

}

.email, .gender{
    width: 18%;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.date, .time{
    width: 20%;
    padding: 5px;
    text-align: center;
    margin: auto;

}

.name:hover , .phone:hover , .email:hover, .gender:hover, .date:hover, .time:hover{
    background-color: palevioletred;
}
.name:focus , .phone:focus,.date:focus, .time:focus ,.email:focus, .gender:focus{
border: 1px solid brown;
}

.OPD{
    display: inline-block;
    width: 20%;
    padding: 6px;
    cursor: pointer;
    border: 2px solid lightcyan ;
    text-align: center;
    font-size: 14px;
}

.OPD:hover, .OPD:focus{
    background-color: lightblue;
    border: 1px solid brown;

}

.button{
    background-color: rgb(240, 23, 23);
    color: rgb(240, 243, 247);
    height: 35px;
    line-height: 35px;
    width: 200px;
    cursor: pointer;
    margin-left: 320px;;
    margin-top: 30px;

}

.button:hover{
    background-color: blue;
}


@media (max-width:480px){
    
    .container{
        width: 120%;
    }
    .input{
        margin-bottom: -6px;
       
    }

    .form-container{

        width: auto;
        font-size: x-small;
        margin-left: 44px;
    }
    .container h1, p{
       padding: 0;
       margin: 0;
       width: 555px;
    }
    .name, .phone, .gender, .time, .date, .email{
width:10%;
padding: 3px;
align-items: flex-start;
    }
    .input-name span{
        padding: 11px;
        margin-left: 0px;
    }
    .button{
        margin-left: 111px;
    }
  
    }
}